@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #940000;
  --color-secondary: #2e0c0d;
  --color-dark-ash-900: #1e2939;
}
@theme inline {
  --font-outfit: var(--font-outfit);
}

@layer base {
  body {
    @apply dark:bg-gray-800 bg-white dark:text-white text-gray-800;
  }
}

/* infinite logo scroll */
.logos {
  margin-inline: auto;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

  @keyframes slide {
  to {
    left: -200px;
  }
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  animation: 30s slide infinite linear;
}
/* infinite logo scroll */

/* Move up animation */
.move-up {
  /* @apply opacity-0; */
  transition: all 0.5s ease-out;
  animation: 1s slideUp 1 linear;
}


  @keyframes slideUp {
  from {
    opacity: 0;
  transform: translateY(100px);
  }
  to {
    opacity: 1;
  transform: translateY(0px);
  }
}