@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #940000;
  --color-secondary: #2e0c0d;
  --color-dark-ash-900: #1e2939;
}
@theme inline {
  --font-outfit: var(--font-outfit);
}

@layer base {
  body {
    @apply dark:bg-gray-800 bg-white dark:text-white text-gray-800;
  }
}

/* body { */
  /* background: var(--background);
  color: var(--foreground); */
  /* font-family:  var(--font-outfit) */
/* } */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
